
.DS_Store
/projekt_ml/kickstarter_filtered.tsv
/projekt_ml/dev_df.csv
/projekt_ml/rest_df.csv
/projekt_ml/full_df.csv
projekt_ml/src/kickstarter_public_kickstarter_filtered.tsv
projekt_ml/src/kickstarter_filtered.tsv.tsv
idea/workspace.xml
